<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "kr.co.hanipaction.application.cart.CartMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="cartId">
        INSERT INTO carts
        <trim prefix="SET" suffixOverrides=",">
            user_id = #{userId},
            menu_id = #{menuId},
            <if test="quantity != null">
                quantity = #{quantity}
            </if>
        </trim>
    </insert>

<!--    <select id="findAllMenuAndUserId">-->
<!--        SELECT *-->
<!--        FROM cart c-->
<!--        JOIN cart_menu_option cm-->
<!--        ON c.id = cm.menu_id-->
<!--        WHERE c.user_id = #{userId}-->
<!--    </select>-->

    <update id="updateQuantityByCartIdAndUserId">
        UPDATE carts
        SET quantity = #{quantity}
        WHERE id = #{cartId}
        AND user_id = #{userId}
    </update>

    <delete id="deleteByCartId">
        DELETE
        FROM carts
        WHERE id = #{cartId}
        AND user_id = #{userId}
    </delete>

    <delete id="deleteByAllUserId">
        DELETE
        FROM carts
        WHERE user_id = #{userId}
    </delete>

<!--    주문 수정용 카트 옵션 조회 -->
    <select id="getByOptions">
        SELECT cm.cart_id , c.menu_id, cm.option_id, c.quantity
        FROM cart c
        LEFT JOIN cart_menu_option cm
        ON c.id = cm.cart_id
        WHERE cm.cart_id = #{cartId}
        AND c.user_id = #{userId}
    </select>
</mapper>