<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "kr.co.hanipaction.application.contact.ContactMapper">

    <select id="findAllContact">
        SELECT *
        FROM contact AS c
        <where>
            <if test="userId != null, userId !=0">
                AND c.user_id = #{userId}
            </if>
        </where>
        ORDER BY c.id DESC
        LIMIT #{startIdx}, #{size}
    </select>


</mapper>