<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "kr.co.hanipaction.application.favorite.FavoriteMapper">

    <insert id="save">
        INSERT INTO favorites
        SET user_id = #{userId},
        store_id = #{storeId}
    </insert>


<!--    2차 수정  // 유저 자신의 찜목록 조회 -->
    <select id="findAllByUserId">
        SELECT *
        FROM favorites f
        WHERE f.user_id = #{userId}
    </select>

<!--    자기 자신이 해당 스토어를 찜햇는지 안 했는지 확인-->
    <select id="findByStoreIdAndUserId">
        SELECT user_id
        FROM favorites
        WHERE store_id = #{storeId}
        AND user_id = #{userId}
    </select>

    <delete id="deleteByUserIdAndStoreId">
        DELETE FROM favorites
        WHERE user_id = #{userId}
        AND store_id = #{storeId}
    </delete>

    <select id="findIsFavoriteByStoreIdAndUserId">
        SELECT CASE WHEN COUNT(*) > 0 THEN TRUE ELSE FALSE END
        FROM favorites
        WHERE user_id = #{userId}
        AND store_id = #{storeId}
    </select>
</mapper>